# Imports and NLP

In [1]:
if 'google.colab' in str(get_ipython()):
  print('Running on CoLab')
  !pip install fuzzywuzzy[speedup]
else:
  print("Not running in colab")

Running on CoLab
Collecting fuzzywuzzy[speedup]
  Downloading https://files.pythonhosted.org/packages/43/ff/74f23998ad2f93b945c0309f825be92e04e0348e062026998b5eefef4c33/fuzzywuzzy-0.18.0-py2.py3-none-any.whl
Collecting python-levenshtein>=0.12; extra == "speedup"
  Downloading https://files.pythonhosted.org/packages/2a/dc/97f2b63ef0fa1fd78dcb7195aca577804f6b2b51e712516cc0e902a9a201/python-Levenshtein-0.12.2.tar.gz (50kB)
     |████████████████████████████████| 51kB 8.8MB/s
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from python-levenshtein>=0.12; extra == "speedup"->fuzzywuzzy[speedup]) (54.0.0)
Building wheels for collected packages: python-levenshtein
  Building wheel for python-levenshtein (setup.py) ... done
  Created wheel for python-levenshtein: filename=python_Levenshtein-0.12.2-cp37-cp37m-linux_x86_64.whl size=149816 sha256=f4a73151d2ce5f77b0a470c833b03de93358377dbec5cc0e09d0556937a333f8
  Stored in directory: /root/.cache/pip/wheels/b3/26/73/4b48503bac73f01cf18e52cd250947049a7f339e940c5df8fc
Successfully built python-levenshtein
Installing collected packages: python-levenshtein, fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0 python-levenshtein-0.12.2

In [2]:
!pip install colab_everything

Collecting colab_everything
  Downloading https://files.pythonhosted.org/packages/da/00/48d2d30ca813f0e2b274431a47ebde08c1774dad7422129627f13a0a1cbb/colab_everything-0.0.9-py3-none-any.whl
Collecting pyngrok
  Downloading https://files.pythonhosted.org/packages/6f/ba/562dc75ca358bdecd8bfa4cdfbd27f750e7d6e46699d3a51bcaa7feb7f3e/pyngrok-5.0.3.tar.gz (743kB)
     |████████████████████████████████| 747kB 22.5MB/s
Collecting urllib3==1.25.10
  Downloading https://files.pythonhosted.org/packages/9f/f0/a391d1463ebb1b233795cabfc0ef38d3db4442339de68f847026199e69d7/urllib3-1.25.10-py2.py3-none-any.whl (127kB)
     |████████████████████████████████| 133kB 53.5MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok->colab_everything) (3.13)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.0.3-cp37-none-any.whl size=18979 sha256=31c4575a1ad6cf8df140687e7714c8db5f5cfa454607282ea9f48c89acefe30b
  Stored in directory: /root/.cache/pip/wheels/f0/77/01/d23761888c52099d1817121dc1f28afbc1c7cbf3caac93b1ff
Successfully built pyngrok
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: pyngrok, urllib3, colab-everything
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed colab-everything-0.0.9 pyngrok-5.0.3 urllib3-1.25.10

In [3]:
import ast
import itertools
import numpy as np
import pandas as pd 
import pickle
import re
import spacy
import spacy.cli
import time
from colab_everything import ColabCustom
from sklearn.neighbors import NearestNeighbors
from sklearn.preprocessing import MinMaxScaler
from time import process_time, gmtime, strftime

In [4]:
%load_ext google.colab.data_table

In [5]:
spacy.cli.download("en_core_web_lg")
nlp = spacy.load("en_core_web_lg")

⚠ Skipping model package dependencies and setting `--no-deps`. You
don't seem to have the spaCy package itself installed (maybe because you've
built from source?), so installing the model dependencies would cause spaCy to
be downloaded, which probably isn't what you want. If the model package has
other dependencies, you'll have to install them manually.
✔ Download and installation successful
You can now load the model via spacy.load('en_core_web_lg')

# Examine Data

In [6]:
url = "https://raw.githubusercontent.com/vjmiyagi/DS_BuildWeek_Dec_2020/main/csv/data.csv"
df_main = pd.read_csv(url)
df_artist = pd.read_csv("https://raw.githubusercontent.com/vjmiyagi/DS_BuildWeek_Dec_2020/main/csv/data_by_artist.csv")
df_genre = pd.read_csv("https://raw.githubusercontent.com/vjmiyagi/DS_BuildWeek_Dec_2020/main/csv/data_by_genres.csv")
df_year = pd.read_csv("https://raw.githubusercontent.com/vjmiyagi/DS_BuildWeek_Dec_2020/main/csv/data_by_year.csv")
df_w = pd.read_csv("https://raw.githubusercontent.com/vjmiyagi/DS_BuildWeek_Dec_2020/main/csv/data_w_genres.csv")

In [7]:
df_main.shape

(170653, 19)

In [8]:
a = df_main.head()
b = df_main.tail()
c = df_artist.head()
d = df_artist.tail()
e = df_genre.head()
f = df_genre.tail()
g = df_year.head()
h = df_year.tail()
i = df_year.head()
j = df_year.tail()

heads = [a, c, e, f, i]
tails = [b, d, f, h, j]
print(heads)
print(tails)

[   valence  year  acousticness  ... release_date  speechiness    tempo
0   0.0594  1921         0.982  ...         1921       0.0366   80.954
1   0.9630  1921         0.732  ...         1921       0.4150   60.936
2   0.0394  1921         0.961  ...         1921       0.0339  110.339
3   0.1650  1921         0.967  ...         1921       0.0354  100.109
4   0.2530  1921         0.957  ...         1921       0.0380  101.665

[5 rows x 19 columns],    mode  count  acousticness  ...   valence  popularity  key
0     1      9      0.590111  ...  0.389500   38.333333    5
1     1     26      0.862538  ...  0.268865   30.576923    5
2     1      7      0.856571  ...  0.354857   34.857143    0
3     1     27      0.884926  ...  0.372030   34.851852    0
4     1      7      0.510714  ...  0.482286   43.000000    5

[5 rows x 15 columns],    mode                  genres  acousticness  ...   valence  popularity  key
0     1  21st century classical      0.979333  ...  0.103783   27.833333    6
1     1                   432hz      0.494780  ...  0.221750   52.500000    5
2     1                   8-bit      0.762000  ...  0.975000   48.000000    7
3     1                      []      0.651417  ...  0.513604   20.859882    7
4     1              a cappella      0.676557  ...  0.448249   45.820071    7

[5 rows x 14 columns],       mode        genres  acousticness  ...   valence  popularity  key
2968     1          zolo      0.222625  ...  0.596155   33.778943    9
2969     0       zouglou      0.161000  ...  0.845000   58.000000    7
2970     1          zouk      0.263261  ...  0.824111   46.666667    5
2971     0  zurich indie      0.993000  ...  0.739000    0.000000    7
2972     1        zydeco      0.421038  ...  0.808544   30.261905    7

[5 rows x 14 columns],    mode  year  acousticness  ...   valence  popularity  key
0     1  1921      0.886896  ...  0.379327    0.653333    2
1     1  1922      0.938592  ...  0.535549    0.140845   10
2     1  1923      0.957247  ...  0.625492    5.389189    0
3     1  1924      0.940200  ...  0.663725    0.661017   10
4     1  1925      0.962607  ...  0.621929    2.604317    5

[5 rows x 14 columns]]
[        valence  year  acousticness  ... release_date  speechiness    tempo
170648    0.608  2020       0.08460  ...   2020-05-29       0.0881  105.029
170649    0.734  2020       0.20600  ...   2020-10-23       0.0605  137.936
170650    0.637  2020       0.10100  ...   2020-11-03       0.0809   91.688
170651    0.195  2020       0.00998  ...   2020-01-17       0.3080   75.055
170652    0.642  2020       0.13200  ...   2020-10-16       0.1080   94.991

[5 rows x 19 columns],        mode  count  acousticness artists  ...       tempo   valence  popularity  key
28675     1      2      0.512000     麥志誠  ...  150.049000  0.328000        35.0   10
28676     0      2      0.541000     黃品源  ...  135.934000  0.243000        48.0    9
28677     1     11      0.785455     黃國隆  ...  119.586273  0.741273        23.0    5
28678     1      2      0.381000      黑豹  ...  200.341000  0.352000        35.0   11
28679     1      2      0.568000     조정현  ...   71.979000  0.177000        31.0   10

[5 rows x 15 columns],       mode        genres  acousticness  ...   valence  popularity  key
2968     1          zolo      0.222625  ...  0.596155   33.778943    9
2969     0       zouglou      0.161000  ...  0.845000   58.000000    7
2970     1          zouk      0.263261  ...  0.824111   46.666667    5
2971     0  zurich indie      0.993000  ...  0.739000    0.000000    7
2972     1        zydeco      0.421038  ...  0.808544   30.261905    7

[5 rows x 14 columns],     mode  year  acousticness  ...   valence  popularity  key
95     1  2016      0.284171  ...  0.431532   59.647190    0
96     1  2017      0.286099  ...  0.416476   63.263554    1
97     1  2018      0.267633  ...  0.447921   63.296243    1
98     1  2019      0.278299  ...  0.458818   65.256542    1
99     1  2020      0.219931  ...  0.501048   64.301970    1

[5 rows x 14 columns],     mode  year  acousticness  ...   valence  popularity  key
95     1  2016      0.284171  ...  0.431532   59.647190    0
96     1  2017      0.286099  ...  0.416476   63.263554    1
97     1  2018      0.267633  ...  0.447921   63.296243    1
98     1  2019      0.278299  ...  0.458818   65.256542    1
99     1  2020      0.219931  ...  0.501048   64.301970    1

[5 rows x 14 columns]]

In [9]:
df = df_main
df

        valence  year  acousticness  ... release_date  speechiness    tempo
0        0.0594  1921       0.98200  ...         1921       0.0366   80.954
1        0.9630  1921       0.73200  ...         1921       0.4150   60.936
2        0.0394  1921       0.96100  ...         1921       0.0339  110.339
3        0.1650  1921       0.96700  ...         1921       0.0354  100.109
4        0.2530  1921       0.95700  ...         1921       0.0380  101.665
...         ...   ...           ...  ...          ...          ...      ...
170648   0.6080  2020       0.08460  ...   2020-05-29       0.0881  105.029
170649   0.7340  2020       0.20600  ...   2020-10-23       0.0605  137.936
170650   0.6370  2020       0.10100  ...   2020-11-03       0.0809   91.688
170651   0.1950  2020       0.00998  ...   2020-01-17       0.3080   75.055
170652   0.6420  2020       0.13200  ...   2020-10-16       0.1080   94.991

[170653 rows x 19 columns]

In [10]:
df["artists"]

0         ['Sergei Rachmaninoff', 'James Levine', 'Berli...
1                                            ['Dennis Day']
2         ['KHP Kridhamardawa Karaton Ngayogyakarta Hadi...
3                                          ['Frank Parker']
4                                            ['Phil Regan']
                                ...
170648    ['Anuel AA', 'Daddy Yankee', 'KAROL G', 'Ozuna...
170649                                         ['Ashnikko']
170650                                          ['MAMAMOO']
170651                                           ['Eminem']
170652                                ['KEVVO', 'J Balvin']
Name: artists, Length: 170653, dtype: object

In [11]:
print("df:", df.shape)
print(df.head(1))
print("df_artist:", df_artist.shape)
print(df_artist.head(1))
print("df_genre:", df_genre.shape)
print(df_genre.head(1))
print("df_year:", df_year.shape)
print(df_year.head(1))
print("df_w:", df_w.shape)
print(df_w.head(1))

df_w.tail(1)

df: (170653, 19)
   valence  year  acousticness  ... release_date  speechiness   tempo
0   0.0594  1921         0.982  ...         1921       0.0366  80.954

[1 rows x 19 columns]
df_artist: (28680, 15)
   mode  count  acousticness  ... valence  popularity  key
0     1      9      0.590111  ...  0.3895   38.333333    5

[1 rows x 15 columns]
df_genre: (2973, 14)
   mode                  genres  acousticness  ...   valence  popularity  key
0     1  21st century classical      0.979333  ...  0.103783   27.833333    6

[1 rows x 14 columns]
df_year: (100, 14)
   mode  year  acousticness  ...   valence  popularity  key
0     1  1921      0.886896  ...  0.379327    0.653333    2

[1 rows x 14 columns]
df_w: (28680, 16)
           genres                           artists  ...  mode  count
0  ['show tunes']  "Cats" 1981 Original London Cast  ...     1      9

[1 rows x 16 columns]

                       genres artists  acousticness  ...  key  mode  count
28679  ['classic korean pop']     조정현         0.568  ...   10     1      2

[1 rows x 16 columns]

# Get to work with the main DataFrame, df, and focus on text fields

In [12]:
# Convert string to list
df.artists = df.artists.apply(ast.literal_eval)
# returning a list store in a string, str('[a,g,c]') --> list [a,g,c]
print("Artist Column Type: ", type(df.artists[0]))
df['artists']

Artist Column Type:  <class 'list'>

0         [Sergei Rachmaninoff, James Levine, Berliner P...
1                                              [Dennis Day]
2         [KHP Kridhamardawa Karaton Ngayogyakarta Hadin...
3                                            [Frank Parker]
4                                              [Phil Regan]
                                ...
170648    [Anuel AA, Daddy Yankee, KAROL G, Ozuna, J Bal...
170649                                           [Ashnikko]
170650                                            [MAMAMOO]
170651                                             [Eminem]
170652                                    [KEVVO, J Balvin]
Name: artists, Length: 170653, dtype: object

In [13]:
def lst_join(list_artists):
  """transform from list to string
  to get rid of the [] of the list"""
  Jointed_list = ", ".join(list_artists)
  return Jointed_list

df.artists = df.artists.apply(lst_join)
df[['artists','id']].head()

                                             artists                      id
0  Sergei Rachmaninoff, James Levine, Berliner Ph...  4BJqT0PrAfrxzMOxytFOIz
1                                         Dennis Day  7xPhfUan2yNtyFG0cUWkt8
2  KHP Kridhamardawa Karaton Ngayogyakarta Hadini...  1o6I8BglA6ylDMrIELygv1
3                                       Frank Parker  3ftBPsC5vPBKxYSee08FDH
4                                         Phil Regan  4d6HGyGT8e121BsdKmw9v6

In [14]:
df['name_artist'] = df['name'] + ", " + df['artists']
df[['name_artist']].head()

                                         name_artist
0  Piano Concerto No. 3 in D Minor, Op. 30: III. ...
1                Clancy Lowered the Boom, Dennis Day
2  Gati Bali, KHP Kridhamardawa Karaton Ngayogyak...
3                            Danny Boy, Frank Parker
4            When Irish Eyes Are Smiling, Phil Regan

In [15]:
#then = time.time() #Time before the operations start
#print(strftime("%a, %d %b %Y %H:%M:%S +0000", gmtime()))
#x = [nlp(str(item)).vector for item in df['name']]
#now = time.time() #Time after it finished
#z = (now-then)/60
#print(f"It took: {z:0.1f} minutes vectorize name column")
#df_name = pd.DataFrame(x)
#print(df2.shape)
#df_name.head()

In [16]:
then = time.time() #Time before the operations start
print(strftime("%a, %d %b %Y %H:%M:%S +0000", gmtime()))
x = [nlp(str(item)).vector for item in df['name_artist']]
now = time.time() #Time after it finished
z = (now-then)/60
print(f"It took: {z:0.1f} minutes to vectorize name_artist column")
df_song_artist = pd.DataFrame(x)
print(df_song_artist.shape)
df_song_artist.head()

Fri, 05 Mar 2021 03:15:49 +0000
It took: 17.8 minutes to vectorize name_artist column
(170653, 300)

        0         1         2    ...       297       298       299
0 -0.104343  0.256664 -0.000575  ... -0.063754 -0.210584  0.030777
1 -0.110043  0.270508 -0.017440  ... -0.006539 -0.181266 -0.124857
2  0.068590  0.113422  0.103174  ... -0.013761 -0.016225  0.021574
3 -0.292194  0.387879 -0.102738  ... -0.193597 -0.233584  0.041322
4 -0.032911  0.133576 -0.197918  ... -0.005729  0.120725  0.035022

[5 rows x 300 columns]

In [17]:
our_vectors = df_song_artist

In [18]:
print("df_song_artist Sum of null values")
print(df_song_artist.isnull().sum())

df_song_artist Sum of null values
0      0
1      0
2      0
3      0
4      0
      ..
295    0
296    0
297    0
298    0
299    0
Length: 300, dtype: int64

# Fitting the Model !

In [19]:
algorithm = "ball_tree"

leaf_size = 15

metric = "minkowski"

metric_params = "None"

n_jobs =  -1

n_neighbors = 10

nn = NearestNeighbors(algorithm=algorithm, leaf_size=leaf_size, 
                      n_neighbors=n_neighbors, n_jobs=n_jobs)


model = nn.fit(df_song_artist)

In [25]:
#Testing the model results

test = "love songs"
#model = model


test_vect = nlp(test).vector
vect = test_vect.reshape(1, -1)
results = nn.kneighbors(vect)[1].tolist()[0]

s = list([df['name'].iloc[x] for x in results])
a = [df['artists'].iloc[x] for x in results]
y = [df['release_date'].iloc[x] for x in results]
   
cn = ["Song", "Artist", "Year", "Row #"]
print(f"{cn[0]:<51}{cn[1]:<45}{cn[2]:<15}{cn[3]:^25}")
print("=" * 156)
for i in range(n_neighbors-1):
    print(f"{s[i][0:50]:<51}{a[i][0:44]:<45}{y[i]:^15}{results[i]:>16}")

Song                                               Artist                                       Year                     Row #
============================================================================================================================================================
Love Song                                          Madonna                                        1989-03-21             164461
Hello Song                                         Music Together                                 2007-10-29             122226
Silly Love Songs                                   Wings                                          2001-05-07              71267
Silly Love Songs                                   Wings                                          1987-11-02             163991
Silly Love Songs                                   Wings                                          1978-11-22             100303
Love Song                                          Simple Minds                                   1981-09-12              84584
Love Song                                          311                                            2004-06-08              16579
Silly Love Song                                    Michel'le                                         1989                164402
I Love To Sing The Songs I Sing                    Barry White                                    1979-01-01             116654

In [21]:
filename = 'model'
pickle.dump(model, open(filename, 'wb'))

In [22]:
import zipfile
with zipfile.ZipFile("temp.zip", "w", zipfile.ZIP_DEFLATED) as zip_file:
     zip_file.write("model")